@import url(style/header.css);

:root{
    --cor-de-fundo: #ffee00;
    --cor-cabecalho: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}

.container__imagem{
    width: 20%;
}
.coreo{
    padding: 0 0 0 25em;
}